@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#contaner {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

#galleryContainer {
  height: 800px;
  width: 800px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#galleryView {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer3 {
  width: 800px;
  height: 800px;
  background-color: white;
  margin: 10px auto;
  border-radius: 3px;
  border: 2px solid white;
  transition: all 0.5s;
}


#mainView {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  background-color: #000000;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
}

#mainView:hover {
  transform: scale(1.5);
  transition: all 1s;
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  background-color: black;
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

.scroll a {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: opacity .3s;
}

#seclogo a {
  padding-top: 60px;
}

#seclogo a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid black;
  border-radius: 100%;
  box-sizing: border-box;
}

#seclogo a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#seclogo a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.conter {
  display: contents;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  max-width: 100vw;
  margin: 40px 0;
}

.conter .carta {
  position: relative;
  min-width: 320px;
  height: 400px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.conter .carta:nth-child(1) .caixa .conteudo a {
  background: #2195f35c;
}

.conter .carta:nth-child(2) .caixa .conteudo a {
  background: #e91e63;
}

.conter .carta:nth-child(3) .caixa .conteudo a {
  background: #23c186;
}


.conter .carta .caixa {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #C1C3B6;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.conter .carta .caixa:hover {
  transform: translateY(-50px);
}

.conter .carta .caixa:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.conter .carta .caixa .conteudo {
  padding: 20px;
  text-align: center;
}

.conter .carta .caixa .conteudo h3 {
  font-size: 2.5rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.conter .carta .caixa .conteudo a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.conter .carta .caixa .conteudo a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

body {
  min-height: 100vh;
  background: #efebdf;
}

.c-video {
  width: 30%;
  max-width: 500px;
  position: relative;
}

.videoFi {
  width: 100%;
}

.c-videoFi {
  width: 100%;
  max-width: 800px;
  position: relative;
}

nav {
  background-color: rgba(113, 142, 120, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

.navbar {
  border: 0;
  cursor: pointer;
  display: none;
  font-size: 22px;
  position: relative;
  padding: 0;
  outline: none;
  height: 30px;
  width: 30px;
}

.navbar:active {
  color: #0594EC;
  outline: none;
}

.navbar .bar {
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 3px;
  width: 20px;
  transition: transform 0.2s ease;
}

.navbar .bar:first-of-type {
  top: 40%;
}

.navbar .bar:last-of-type {
  top: 60%;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 0 30px;
}

ul li a {
  color: black;
  position: relative;
  text-decoration: none;
}

ul li a::after {
  content: '';
  background-color: #000000;
  position: absolute;
  bottom: -18px;
  left: 0;
  opacity: 0;
  height: 2px;
  width: 100%;
  transition: transform 0.2s ease;
}

ul li a:hover::after {
  opacity: 1;
  transform: translateY(-15px);
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 2em;
  }

  .navbar {
    display: block;
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar.show-x .bar:first-of-type {
    transform: translate(-50%, 50%) rotate(225deg);
  }

  .navbar.show-x .bar:last-of-type {
    transform: translate(-50%, -150%) rotate(-225deg);
  }

  ul {
    background-color: rgba(113, 142, 120, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 100px;
    left: 10%;
    transform: translateX(120%);
    width: 80%;
    transition: transform 0.3s ease-in;
    z-index: 100;
  }

  ul.show {
    transform: translateX(0);
  }

  ul li {
    margin: 15px;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.collapsible {
  user-select: none;
  cursor: pointer;
  --s: 0.1em;
  --c: #718E78;
  padding-bottom: var(--s);
  background:
    linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

.collapsible::before {
  transform: translate(-50%, -50%);
  transition: all 0.6s ease;
}

.active,
.collapsible:hover {
  color: #718E78;
  --_p: 100%
}

.texto {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #BBD0D1, transparent);
  z-index: 999;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

#text {
  position: absolute;
  color: #000000;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

.split {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-top: 1000px;
}

.left {
  width: 50%;
  left: 0;
  background: linear-gradient(to right, transparent, #D1C5B5);
  background-color: #C1C3B6;
}

.right {
  width: 100%;
  right: 0;
  background: linear-gradient(to left, transparent, #D1C5B5);
  background-color: #718E78;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.sec {
  position: relative;
  padding: 100px;
  background: #0000;
}

.sobre {
  padding-left: 0px;
  padding-right: 0px;

}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #000;
}

.sec p {
  font-size: 1em;
  color: #000;
}

.container {
  content: '';
  background: linear-gradient(to top, transparent, #BBD0D1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  position: relative;
  width: 165px;
  height: 280px;
  background: #287bff;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 #fff, inset 0 -15px 0 rgba(255, 255, 255, 0.25), 0 45px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card::before {
  content: '';
  position: absolute;
  top: -110px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);

}

.card:nth-child(1) {
  background: linear-gradient(to bottom, #D1C5B7, #CAA993);
}

.card:nth-child(2) {
  background: linear-gradient(to bottom, #C1C3B6, #718E78);
}

.card:nth-child(3) {
  background: linear-gradient(to bottom, #D1C5B7, #CAA993);
}

.card:nth-child(4) {
  background: linear-gradient(to bottom, #C1C3B6, #718E78);
}

.card:nth-child(5) {
  background: linear-gradient(to bottom, #D1C5B7, #CAA993);
}

.card:nth-child(6) {
  background: linear-gradient(to bottom, #C1C3B6, #718E78);
}

.card:nth-child(7) {
  background: linear-gradient(to bottom, #D1C5B7, #CAA993);
}

.icon {
  position: relative;
  width: 100px;
  height: 80px;
  background: linear-gradient(to top, transparent, #BBD0D1);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1),
    inset 0 -8px 0 #D6DCD8;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  width: 50px;
  height: 50px;
}

.icon ion-icon {
  color: #fff;
  position: relative;
  font-size: 3em;
  z-index: 10000;
}

.footer-content {
  position: relative;
  margin: 20px;
  color: #d3d3d3;
  height: 30px;
  text-align: center;
}

.content {
  font-size: 0.9em;
  position: absolute;
  width: 100%;
  padding-top: 75px;
  text-align: center;
  color: #fff;
}